ShowTables/tablas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tablas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tabla" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="logfile" minOccurs="0"/>
              <xs:element type="xs:string" name="outfile" minOccurs="0"/>
              <xs:element name="campo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:short" name="tmn" minOccurs="0"/>
                    <xs:element type="xs:string" name="carrelleno" minOccurs="0"/>
                    <xs:element type="xs:string" name="posicionrelleno" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>